.primary,
.success,
.danger,
.info,
.warning {
  color: white;
  font-weight: 500;
  background: var(--bg-variant);
}

.secondary {
  background: var(--bg-variant);
}
.empty {
  background: #fff;
  outline: none;
}
.transparent {
  background: #e2e8f0;
  outline: none;
}